<ion-content class="body" style="margin-top: auto; margin-bottom: auto;">
  <div style="margin-top: 25px; margin-left: 25px; margin-right: 25px;">
    <ion-item>
      <ion-icon name="person"></ion-icon>
      <ion-label><b>Escoja a la persona:</b></ion-label>
      <ion-select [(ngModel)]="personSelected">
        <ion-select-option *ngFor="let x of PERSONS" value="{{ x }}">{{ x }}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div style="margin-left: 5rem; margin-right: 25px; margin-top: 25px;">
    <h2> Semana actual {{ WEEK }}</h2>
  </div>

  <div style="margin-left: 25px; margin-right: 25px;">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col style="font-size: 1.1rem;"><b>Día</b></ion-col>
          <ion-col style="font-size: 1.1rem;"><b>Diurno</b></ion-col>
          <ion-col style="font-size: 1.1rem;"><b>Nocturno</b></ion-col>
        </ion-row>
        <ion-row *ngFor="let x of this.getListScheduleJob(this.personSelected)">
          <ion-col>{{ x[0] }}</ion-col>
          <ion-col style="margin-left: 20px;">{{ x[1] == 0 ? 'No' : 'Sí' }}</ion-col>
          <ion-col style="margin-left: 20px;">{{ x[2] == 0 ? 'No' : 'Sí' }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="font-size: 1.1rem;"><b>Día</b></ion-col>
          <ion-col style="font-size: 1.1rem;"><b>Diurno</b></ion-col>
          <ion-col style="font-size: 1.1rem;"><b>Nocturno</b></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>